---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <TrackRequest xmlns="http://fedex.com/ws/track/v6">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>O21wEWKhdDn2SYyb</Key>
              <Password>db0SYxXWWh0bgRSN7Ikg9Vunz</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>510087780</AccountNumber>
            <MeterNumber>119009727</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>trck</ServiceId>
            <Major>6</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <PackageIdentifier>
            <Value>568838414941</Value>
            <Type>TRACKING_NUMBER_OR_DOORTAG</Type>
          </PackageIdentifier>
          <IncludeDetailedScans>true</IncludeDetailedScans>
        </TrackRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 77f961ab-4c1a-439a-8795-386210da26bc
      X-Csr-Elapsed-Millis:
      - '191'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><TrackReply xmlns="http://fedex.com/ws/track/v6"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>trck</Source><Code>0</Code><Message>Request
        was successfully processed.</Message><LocalizedMessage>Request was successfully
        processed.</LocalizedMessage></Notifications><Version><ServiceId>trck</ServiceId><Major>6</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><DuplicateWaybill>false</DuplicateWaybill><MoreData>false</MoreData><TrackDetails><Notification><Severity>SUCCESS</Severity><Source>trck</Source><Code>0</Code><Message>Request
        was successfully processed.</Message><LocalizedMessage>Request was successfully
        processed.</LocalizedMessage></Notification><TrackingNumber>568838414941</TrackingNumber><TrackingNumberUniqueIdentifier>2456663000~568838414941~FX</TrackingNumberUniqueIdentifier><StatusCode>SF</StatusCode><StatusDescription>At
        destination sort facility</StatusDescription><ServiceCommitMessage>No scheduled
        delivery date available at this time.</ServiceCommitMessage><CarrierCode>FDXE</CarrierCode><OtherIdentifiers><Value>P218101_004154359</Value><Type>PURCHASE_ORDER</Type></OtherIdentifiers><OtherIdentifiers><Value>P218101_004154359</Value><Type>SHIPPER_REFERENCE</Type></OtherIdentifiers><ServiceInfo>FedEx
        2Day</ServiceInfo><ServiceType>FEDEX_2_DAY</ServiceType><PackageWeight><Units>LB</Units><Value>2.0</Value></PackageWeight><PackageDimensions><Length>9</Length><Width>6</Width><Height>4</Height><Units>IN</Units></PackageDimensions><ShipmentWeight><Units>LB</Units><Value>2.0</Value></ShipmentWeight><Packaging>Your
        Packaging</Packaging><PackagingType>YOUR_PACKAGING</PackagingType><PackageSequenceNumber>1</PackageSequenceNumber><PackageCount>1</PackageCount><ShipperAddress><City>MEMPHIS</City><StateOrProvinceCode>TN</StateOrProvinceCode><CountryCode>US</CountryCode><Residential>false</Residential></ShipperAddress><ShipTimestamp>2018-08-15T00:00:00</ShipTimestamp><DestinationAddress><City>SURPRISE</City><StateOrProvinceCode>AZ</StateOrProvinceCode><CountryCode>US</CountryCode><Residential>false</Residential></DestinationAddress><SignatureProofOfDeliveryAvailable>false</SignatureProofOfDeliveryAvailable><RedirectToHoldEligibility>INELIGIBLE</RedirectToHoldEligibility><Events><Timestamp>2014-01-07T19:37:00-07:00</Timestamp><EventType>AR</EventType><EventDescription>At
        destination sort facility</EventDescription><Address><City>PHOENIX</City><StateOrProvinceCode>AZ</StateOrProvinceCode><PostalCode>85034</PostalCode><CountryCode>US</CountryCode><Residential>false</Residential></Address><ArrivalLocation>SORT_FACILITY</ArrivalLocation></Events><Events><Timestamp>2014-01-07T17:40:00-06:00</Timestamp><EventType>DP</EventType><EventDescription>Departed
        FedEx location</EventDescription><Address><City>MEMPHIS</City><StateOrProvinceCode>TN</StateOrProvinceCode><PostalCode>38118</PostalCode><CountryCode>US</CountryCode><Residential>false</Residential></Address><ArrivalLocation>FEDEX_FACILITY</ArrivalLocation></Events><Events><Timestamp>2014-01-06T04:04:40-06:00</Timestamp><EventType>OC</EventType><EventDescription>Shipment
        information sent to FedEx</EventDescription><Address><Residential>false</Residential></Address><ArrivalLocation>CUSTOMER</ArrivalLocation></Events><Events><Timestamp>2014-01-05T19:23:00-06:00</Timestamp><EventType>AR</EventType><EventDescription>Arrived
        at FedEx location</EventDescription><Address><City>MEMPHIS</City><StateOrProvinceCode>TN</StateOrProvinceCode><PostalCode>38118</PostalCode><CountryCode>US</CountryCode><Residential>false</Residential></Address><ArrivalLocation>FEDEX_FACILITY</ArrivalLocation></Events><Events><Timestamp>2014-01-05T11:31:00-06:00</Timestamp><EventType>PU</EventType><EventDescription>Picked
        up</EventDescription><Address><City>MEMPHIS</City><StateOrProvinceCode>TN</StateOrProvinceCode><PostalCode>38185</PostalCode><CountryCode>US</CountryCode><Residential>false</Residential></Address><ArrivalLocation>PICKUP_LOCATION</ArrivalLocation></Events></TrackDetails></TrackReply>
  recorded_at: Sun, 23 Feb 2020 11:00:40 GMT
recorded_with: VCR 3.0.3
