---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <TrackRequest xmlns="http://fedex.com/ws/track/v6">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>O21wEWKhdDn2SYyb</Key>
              <Password>db0SYxXWWh0bgRSN7Ikg9Vunz</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>510087780</AccountNumber>
            <MeterNumber>119009727</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>trck</ServiceId>
            <Major>6</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <PackageIdentifier>
            <Value>149331877648230</Value>
            <Type>TRACKING_NUMBER_OR_DOORTAG</Type>
          </PackageIdentifier>
          <IncludeDetailedScans>true</IncludeDetailedScans>
        </TrackRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - eb03131e-b370-43e1-9245-1555714f41a5
      X-Csr-Elapsed-Millis:
      - '239'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><TrackReply xmlns="http://fedex.com/ws/track/v6"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>trck</Source><Code>0</Code><Message>Request
        was successfully processed.</Message><LocalizedMessage>Request was successfully
        processed.</LocalizedMessage></Notifications><Version><ServiceId>trck</ServiceId><Major>6</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><DuplicateWaybill>false</DuplicateWaybill><MoreData>false</MoreData><TrackDetails><Notification><Severity>SUCCESS</Severity><Source>trck</Source><Code>0</Code><Message>Request
        was successfully processed.</Message><LocalizedMessage>Request was successfully
        processed.</LocalizedMessage></Notification><TrackingNumber>149331877648230</TrackingNumber><TrackingNumberUniqueIdentifier>12013~149331877648230~FDEG</TrackingNumberUniqueIdentifier><StatusCode>AP</StatusCode><StatusDescription>At
        Pickup</StatusDescription><ServiceCommitMessage>No scheduled delivery date
        available at this time.</ServiceCommitMessage><CarrierCode>FDXG</CarrierCode><OtherIdentifiers><Value>149331877648230</Value><Type>GROUND_SHIPMENT_ID</Type></OtherIdentifiers><ServiceInfo>FedEx
        Home Delivery</ServiceInfo><ServiceType>GROUND_HOME_DELIVERY</ServiceType><PackageWeight><Units>LB</Units><Value>9.5</Value></PackageWeight><PackageDimensions><Length>24</Length><Width>16</Width><Height>7</Height><Units>IN</Units></PackageDimensions><Packaging>Package</Packaging><PackagingType>YOUR_PACKAGING</PackagingType><PackageSequenceNumber>1</PackageSequenceNumber><PackageCount>1</PackageCount><ShipperAddress><City>Mt.
        Crawford</City><StateOrProvinceCode>VA</StateOrProvinceCode><CountryCode>US</CountryCode><Residential>false</Residential></ShipperAddress><OriginLocationAddress><City>FISHERSVILLE</City><StateOrProvinceCode>VA</StateOrProvinceCode><CountryCode>US</CountryCode><Residential>false</Residential></OriginLocationAddress><ShipTimestamp>2018-08-15T00:00:00</ShipTimestamp><DestinationAddress><City>Marion</City><StateOrProvinceCode>NC</StateOrProvinceCode><CountryCode>US</CountryCode><Residential>false</Residential></DestinationAddress><SignatureProofOfDeliveryAvailable>false</SignatureProofOfDeliveryAvailable><RedirectToHoldEligibility>INELIGIBLE</RedirectToHoldEligibility><Events><Timestamp>2014-01-03T19:54:00-05:00</Timestamp><EventType>IP</EventType><EventDescription>In
        FedEx possession</EventDescription><StatusExceptionCode>084</StatusExceptionCode><StatusExceptionDescription>Tendered
        at FedEx location</StatusExceptionDescription><Address><City>HAGERSTOWN</City><StateOrProvinceCode>MD</StateOrProvinceCode><PostalCode>21740</PostalCode><CountryCode>US</CountryCode><Residential>false</Residential></Address><ArrivalLocation>FEDEX_OFFICE_LOCATION</ArrivalLocation></Events><Events><Timestamp>2014-01-02T06:07:00-05:00</Timestamp><EventType>OC</EventType><EventDescription>Shipment
        information sent to FedEx</EventDescription><Address><PostalCode>22841</PostalCode><CountryCode>US</CountryCode><Residential>false</Residential></Address><ArrivalLocation>CUSTOMER</ArrivalLocation></Events></TrackDetails></TrackReply>
  recorded_at: Sun, 23 Feb 2020 08:15:54 GMT
[...]
